.collapsable-menu {
    margin: 10px;
    button {
      margin-bottom: 10px;
    }
    .menu-options {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .menu-image {
        border: 1px solid black;
        cursor: pointer;
        width: 100px;
        height: 100px;
      }
    }
  }
  